// Cubic Bezier variations
// ----------------------------------------------------------------------------
$cubic-bezier-mine: cubic-bezier(0.4, 0, 0.2, 1);
$cubic-bezier-pulse: cubic-bezier(0.4, 0, 0.6, 1);
$cubic-bezier-pinging: cubic-bezier(0, 0, 0.2, 1);
